# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
*/node_modules/
/.pnp
.pnp.js
package-lock.json
yarn.lock

# testing
/coverage
*/coverage/

# Expo
.expo/
*/dist/
web-build/
expo-env.d.ts
*.apk
*.aab
*.hprof

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa

# Backend
*/dist/
*/build/
.env
*/.env
*/logs/
*.log

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# local env files
.env*.local

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo
